#headerwrap_m{
  display: none;
  background: url(../img/mob/115.png) no-repeat top;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.button1_m{
  font-size: 20px;
  font-family:'DIN Pro Condensed Regular';
  text-decoration: none !important;
  text-transform: uppercase;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 20%;
  padding: 23px;
  padding-top: 20px;
  text-align: center;
  background-image: url(../img/mob/button.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 300px;
}
.button2_m{
  font-size: 20px;
  font-family:'DIN Pro Condensed Regular';
  text-decoration: none !important;
  text-transform: uppercase;
  margin: auto;
  margin-top: 4%;
  padding: 23px;
  padding-top: 20px;
  text-align: center;
  background-image: url(../img/mob/button_blue.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 300px;
}
#headerwrap_m, #block1_m, #block2_m, #block3_m, #block4_m, #block5_m,#f_m{
  display: none;
}
#block2_m h2, #block3_m h2, #block4_m h2,#block5_m h2 {
  line-height: 50px;
}
#block4_m{
  background-color: #fff;
}
#block5_m, #block2_m{
  background-color: #f5f5f5;
}
#f_m{
  background: #404040;
}
#block3_m{
  display: none;
  background: url(../img/mob/116.png) no-repeat top;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block5_m{
  display: none;
  background: url(../img/mob/104.png) no-repeat top;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 767px){
  .slick-next{
    display: none !important;
  }
  .slick-prev{
    display: none !important;
  }

  .list li:before {
    content:  "—";
    color: #0050c2;
    position: relative;
    left:     -5px;
}
.slick-dots{

  display: flex;
}
.slick-dots button{
  display: none;
}
.slick-dots li{
  margin-left: 50px;
  width: 5px;
  list-style-image: url(../img/mob/94.png);
}
.slick-dots .slick-active{
  margin-left: 50px;
  list-style-image: url(../img/mob/93.png);

}
li{
  list-style: none;
  margin-bottom: 5%;
}
  h2{
    font-size: 35px;
  }

  #headerwrap, #block1, #block2, #block3, #block4, #block5, #block6, #f{
    display: none;
  }
  #headerwrap_m, #block1_m, #block2_m, #block3_m, #block4_m, #block5_m,#f_m{
    display: block;
  }
  p{
    line-height: 23px;
  }
}
